<div class="d-flex">

  <!--Sidebar-->
  <app-sidebar></app-sidebar>
  <!--End Sidebar-->

  <div class="container">
    <div class="row p-3">
      
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search Gifs" />
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus id eos deserunt dolorum? Explicabo, quod. Officia qui natus facere laboriosam provident magni dignissimos quidem quos, porro maiores distinctio corporis esse?
      </div>
    </div>

  </div>
</div>